<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ddd6266-40b6-4846-a095-c19ac7c21cea" Alias="Total Code Footer Link Group" Level="2">
  <Info>
    <Name>Total Code Footer Link Group</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>2</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "totalCodeFooterLinkGroup",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": 1,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>