<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4791f62b-9a10-4262-8385-9b435683fa2e" Alias="Total Code Tenant Properties (1)" Level="2">
  <Info>
    <Name>Total Code Tenant Properties (1)</Name>
    <EditorAlias>tenantPreferences</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>10</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>