<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e5ffacd7-da04-404e-b3fb-9576254a9a0a" Alias="Total Code Repeatable Textstrings - 3" Level="2">
  <Info>
    <Name>Total Code Repeatable Textstrings - 3</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>4</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Minimum": 0,
  "Maximum": 3
}]]></Config>
</DataType>