<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1835b68b-9844-448c-b1e7-86bbbf1b83b0" Alias="Total Code MNTP Menu" Level="2">
  <Info>
    <Name>Total Code MNTP Menu</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>0</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$site",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 0,
  "ShowOpen": false
}]]></Config>
</DataType>