<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3dd32617-de1a-483b-88f5-eee35ce8e8dd" Alias="Total Code MNTP Menu - Single" Level="2">
  <Info>
    <Name>Total Code MNTP Menu - Single</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>3</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "TreeSource": {
    "type": "content",
    "query": "$root",
    "id": null
  },
  "Filter": null,
  "MinNumber": 0,
  "MaxNumber": 1,
  "ShowOpen": false
}]]></Config>
</DataType>