<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3e9c3e52-e086-475a-ba45-7a49bbd04eb9" Alias="Total Code Predefined Amounts" Level="2">
  <Info>
    <Name>Total Code Predefined Amounts</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>5</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "totalCodePredefinedAmount",
      "ncTabAlias": "Content",
      "nameTemplate": "{{currency}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>