<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6b41516d-1358-441b-ba26-844a66cc5a7d" Alias="Total Code Company Logos" Level="2">
  <Info>
    <Name>Total Code Company Logos</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <SortOrder>1</SortOrder>
    <Folder>Total+Code+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "totalCodeCompanyLogo",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "HideLabel": false
}]]></Config>
</DataType>