@inherits Umbraco.Web.Mvc.UmbracoViewPage
<div class="item--input-label server-error" style="display:none;">
    @Umbraco.GetDictionaryValue("[ServerErrors]UnhandledError", "Unhandled Server Error")
</div>