<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="23595dbd-82e8-4664-804d-491fc94ef16d" Alias="ConfirmEmail" Level="3">
  <Info>
    <Name>Total Code Confirm Email</Name>
    <Icon>icon-check color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Email Confirmation Page</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Folder>Total+Code+Container</Folder>
    <Compositions />
    <DefaultTemplate>TotalCodeTenantConfirmEmail</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="fe14e84c-fee8-4e58-a2fe-17039ed789ae">TotalCodeTenantConfirmEmail</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>