<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="26dc0927-c78d-4b22-b1dd-2eae3f0e8356" Alias="loginPage" Level="3">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>loginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="794d9517-e6a0-4542-98ea-73587a673a80">loginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>