<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e7007063-ba19-4874-ade3-fb8330cbfda5" Alias="totalCodeTransactionHistoryPage" Level="3">
  <Info>
    <Name>Total Code Transaction History Page</Name>
    <Icon>icon-bills-dollar color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeTransactionHistoryPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="a93c28ce-3f42-4788-9e9b-4e072c903559">totalCodeTransactionHistoryPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>