<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b5e3f291-080c-4186-b69b-8a5bd32ba1cb" Alias="totalCodeHomePage" Level="3">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeHomePageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1a7a6140-4fc1-474c-b507-679c498eb909">totalCodeHomePageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5a49ca77-5784-477f-9296-0d925c768c29">totalCodeAccountPage</ContentType>
    <ContentType Key="d6b1350f-97ed-4c4f-962e-57b20fbcdde8">totalCodeCategoriesPage</ContentType>
    <ContentType Key="1d69c717-995a-48f7-8948-d7e75b592c00">totalCodeDepositPage</ContentType>
    <ContentType Key="189d0230-a1f8-4497-a324-7dc00fe661c3">totalCodeGenericPage</ContentType>
    <ContentType Key="f5be873a-c67b-49fa-b09f-ba17efdc7267">totalCodeTermsPage</ContentType>
    <ContentType Key="4a9c9b01-6c4a-44d1-aba1-8ecc218e2222">totalCodeTicketsPage</ContentType>
    <ContentType Key="71ae091b-ed49-4304-81e7-3dbeee0fb4b0">totalCodeBonusHistoryPage</ContentType>
    <ContentType Key="e7007063-ba19-4874-ade3-fb8330cbfda5">totalCodeTransactionHistoryPage</ContentType>
    <ContentType Key="fb74b8e1-c15d-446b-b1b4-204753d68ce2">totalCodeWithdrawPage</ContentType>
    <ContentType Key="23595dbd-82e8-4664-804d-491fc94ef16d">ConfirmEmail</ContentType>
    <ContentType Key="361da17b-61c9-4b54-8fd2-929e97d99bdc">resetPasswordViaEmail</ContentType>
    <ContentType Key="e2fe1865-7af2-49f6-a450-acf4c2a1ae31">totalCodeSettingsPage</ContentType>
    <ContentType Key="bf017767-5ebf-4560-b49c-98170203c82b">totalCodeAffiliatePage</ContentType>
    <ContentType Key="26dc0927-c78d-4b22-b1dd-2eae3f0e8356">loginPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>2ff2b239-1543-4af4-ab48-30561a1fee24</Key>
      <Name>Account Landing Page</Name>
      <Alias>accountLandingPage</Alias>
      <Definition>3dd32617-de1a-483b-88f5-eee35ce8e8dd</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Landing page after successful login.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>b96623ce-74be-4fe8-a15a-d671cc91ed71</Key>
      <Name>Account menu</Name>
      <Alias>accountMenu</Alias>
      <Definition>1835b68b-9844-448c-b1e7-86bbbf1b83b0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Menu at left side.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Account Menu</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>67cb61ea-29d8-43f1-98b1-ed27c8b74573</Key>
      <Name>Alternate Domains</Name>
      <Alias>alternateDomains</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tenant Alternate Domains]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>27be622c-133b-40af-8644-6e618360b240</Key>
      <Name>Api Key</Name>
      <Alias>apiKey</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>73d56679-3717-43ee-b6fa-6eb52eebe456</Key>
      <Name>App Id</Name>
      <Alias>appId</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>35e8d9a3-8f39-430a-8a63-38abf81f21b5</Key>
      <Name>Banner Slider</Name>
      <Alias>bannerSlider</Alias>
      <Definition>8f335f3d-2455-421b-a1fb-631efef812fa</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Slider with banner images]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sliders</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a60203a6-aee0-4c3d-a2a3-498faf3e6450</Key>
      <Name>Brand Name</Name>
      <Alias>brandName</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>515de264-f293-4f74-82ab-073309d98f25</Key>
      <Name>Company Logos</Name>
      <Alias>companyLogos</Alias>
      <Definition>6b41516d-1358-441b-ba26-844a66cc5a7d</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Footer company logos.]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fb69e126-9eb0-43e1-8028-04f7076770fa</Key>
      <Name>Custom JS</Name>
      <Alias>customJS</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Scripts</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1e227d50-1961-454c-b6e3-0c2008ee2c45</Key>
      <Name>Default Language</Name>
      <Alias>defaultLanguage</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[System Default Language]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>31958d4b-0839-46a8-a1d4-b52e355d750d</Key>
      <Name>Demo Button Text</Name>
      <Alias>demoButtonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text for the demo button]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Game Mode Dialog</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cde867fe-21e5-4bf6-ba18-85afb44d098a</Key>
      <Name>Game Mode Images</Name>
      <Alias>demoPageImages</Alias>
      <Definition>f78f3c94-2bb9-4a5d-b401-2eeb285c1fac</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Images to display in the Game Mode Dialog]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Game Mode Dialog</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>768f0a0a-2549-4e41-99c6-3741830a6f93</Key>
      <Name>Domain</Name>
      <Alias>domain</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fe2b1bf6-5724-47f7-904a-df9c457b790d</Key>
      <Name>Account Menu External Urls</Name>
      <Alias>externalUrlsAccountMenu</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom Links for Account Menu]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1a3c14dd-5cff-47a1-9714-259813aeb30b</Key>
      <Name>Footer External Urls</Name>
      <Alias>externalUrlsFooter</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom Links for Footer]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>512e75be-21e6-4ab6-8a52-651f4806a150</Key>
      <Name>Main Menu External Urls</Name>
      <Alias>externalUrlsMainMenu</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom Links for Main Menu]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>33e96a03-85ea-46c8-98f3-5d11ec6e67df</Key>
      <Name>Top Menu External Urls</Name>
      <Alias>externalUrlsTopMenu</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Custom Links for Top Menu]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>4c9276b8-547c-4f9e-9076-71ff18c5a0af</Key>
      <Name>Facebook Link</Name>
      <Alias>facebookLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>337e7f91-ddbc-4a77-9bf1-d8af76e50c06</Key>
      <Name>Footer Logo</Name>
      <Alias>footerLogo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ad95366d-6973-43d2-ada6-b213872a8a58</Key>
      <Name>Footer Text</Name>
      <Alias>footerText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f1c37f73-99a4-4ecb-a3ed-932e470b70fe</Key>
      <Name>Agreement text</Name>
      <Alias>gameAgreeText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Agreement text with checkbox]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Game Mode Dialog</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8fc6b416-06cd-40ed-b290-b44dc79b8570</Key>
      <Name>Group Links</Name>
      <Alias>groupLinksA</Alias>
      <Definition>4ddd6266-40b6-4846-a095-c19ac7c21cea</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Group link column 1]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bbb998eb-23d0-4e2c-ad27-ced20df9e3d5</Key>
      <Name>Group Links</Name>
      <Alias>groupLinksB</Alias>
      <Definition>4ddd6266-40b6-4846-a095-c19ac7c21cea</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Group link column 2]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>82981006-41a4-4a59-b319-17ea699e1714</Key>
      <Name>Group Links</Name>
      <Alias>groupLinksC</Alias>
      <Definition>4ddd6266-40b6-4846-a095-c19ac7c21cea</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Group link column 3]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>64e62ca6-41d3-4077-92e7-014d7f87bc54</Key>
      <Name>Custom JS head</Name>
      <Alias>headJS</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Scripts</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>db491441-a9e4-4d05-bc32-a2c2fd7dd685</Key>
      <Name>HelpDesk Telegram Bot</Name>
      <Alias>helpdeskTelegramAccount</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>11</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f17699bc-6f08-4339-a963-52a23cf65f8e</Key>
      <Name>Content</Name>
      <Alias>homeContent</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dcd070f7-8cc9-4490-a0f9-7a163fd1e120</Key>
      <Name>Instagram Link</Name>
      <Alias>instagramLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5f263a37-f901-4d88-941a-98982665023c</Key>
      <Name>Language Name</Name>
      <Alias>languageName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The language to appear on language dropdown.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dccf3b04-1b8a-40e2-bf32-d84926194f18</Key>
      <Name>Alternate Languages</Name>
      <Alias>languages</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c45b5106-ba83-4a2b-be71-4ba62b786f13</Key>
      <Name>Brand Logo</Name>
      <Alias>logo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>755cd76d-c899-4cea-ad62-19874332a284</Key>
      <Name>Main menu</Name>
      <Alias>mainMenu</Alias>
      <Definition>1835b68b-9844-448c-b1e7-86bbbf1b83b0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f6e91fa3-a8ac-433b-8c87-f9a7e059fd99</Key>
      <Name>Author Meta Tag</Name>
      <Alias>metaAuthor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>(Advanced) Meta Tags</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>f61e3523-92af-414d-ae7c-1e5ed9f97f2b</Key>
      <Name>Copyright Meta Tag</Name>
      <Alias>metaCopyright</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>(Advanced) Meta Tags</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3deba3f9-2bb7-44f6-92bb-87ff1ad1a298</Key>
      <Name>Description Meta Tag</Name>
      <Alias>metaDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>(Advanced) Meta Tags</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dd671623-b5cf-433e-a894-69eac267dea2</Key>
      <Name>Keywords Meta Tag</Name>
      <Alias>metaKeywords</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>(Advanced) Meta Tags</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>558dfebc-70c2-4720-9ad9-b3303f78e7fe</Key>
      <Name>Robots Meta Tag</Name>
      <Alias>metaRobots</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>(Advanced) Meta Tags</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>09fad558-d3e5-4fe4-971f-fea9464f8a34</Key>
      <Name>Background Color</Name>
      <Alias>notificationBgColor</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Notification Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d05ae09d-2f9f-4f6a-80dc-6f1aa421cd2e</Key>
      <Name>Position</Name>
      <Alias>notificationPosition</Alias>
      <Definition>54f10d57-efc4-487f-af0a-e2c491fce293</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Notification Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>5251229c-6a33-413d-a085-72bb07c7665a</Key>
      <Name>Width</Name>
      <Alias>notificationWidth</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Notification Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>93730c04-d976-4629-9cc6-232549dbef9d</Key>
      <Name>Play Button Text</Name>
      <Alias>playButtonText</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text for the play button]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Game Mode Dialog</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c58dceba-10bb-4f2c-991c-b7365a3bf99f</Key>
      <Name>Color 1</Name>
      <Alias>sbColor1</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>e0997528-24a1-4451-8603-b54f6f3b8cc3</Key>
      <Name>Color 2</Name>
      <Alias>sbColor2</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a147c49a-7f98-429e-a056-b407a4f2203a</Key>
      <Name>Color 3</Name>
      <Alias>sbColor3</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>bd79fc5c-a938-45cd-a9d7-b9c64ddfc733</Key>
      <Name>Color 4</Name>
      <Alias>sbColor4</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>9ef7125b-7ae0-4f16-9133-0a70a2d0cd5c</Key>
      <Name>Color 5</Name>
      <Alias>sbColor5</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>279291d7-e499-46ac-9755-6f0f03772a7a</Key>
      <Name>Color 6</Name>
      <Alias>sbColor6</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0e1ce1ad-b7c6-4c9d-834d-6ad2ed7b8d62</Key>
      <Name>Color 7</Name>
      <Alias>sbColor7</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>78b65de0-347b-4ab2-88e5-c9db4e6969f3</Key>
      <Name>Color 8</Name>
      <Alias>sbColor8</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>d2387134-4174-4dd1-af48-0765d3ff93cf</Key>
      <Name>Color 9</Name>
      <Alias>sbColor9</Alias>
      <Definition>f054b54f-8306-4a51-9e6f-dc2e16f4c4c7</Definition>
      <Type>ColorPickerU8</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>8</SortOrder>
      <Tab>Sport &amp; In-Play</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7b825da7-0f2f-4009-901c-9bec2b9530c8</Key>
      <Name>Spinner Image</Name>
      <Alias>spinnerImage</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Image for Spinner]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>dc5aacf9-6746-4226-980b-eca6bc25c998</Key>
      <Name>Sub Domain</Name>
      <Alias>subDomain</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>273119cf-d0e1-4da7-aad1-6b131634fd09</Key>
      <Name>Telegram URL</Name>
      <Alias>telegramUsername</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cd4c90cb-19e2-47da-b18c-551664fdaf58</Key>
      <Name>Tenant Currencies</Name>
      <Alias>tenantCurrencies</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Total Code Tenant Used Currencies]]></Description>
      <SortOrder>9</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>7774c5f0-3550-4756-973e-6a31130dccb6</Key>
      <Name>Tenant Favicon 144x144</Name>
      <Alias>tenantFavicon144x144</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Favicon (Browser Tab icon) size 144x144 (*.png)]]></Description>
      <SortOrder>15</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>3042668c-2133-41df-a9d0-368b6c79d5c7</Key>
      <Name>Tenant Favicon 16x16</Name>
      <Alias>tenantFavicon16x16</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Favicon (Browser Tab icon) size 16x16 (*.ico)]]></Description>
      <SortOrder>12</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a66a8784-ea5d-4ddd-84a8-5f11fa554ad6</Key>
      <Name>Tenant Favicon 192x192</Name>
      <Alias>tenantFavicon192x192</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Favicon (Browser Tab icon) size 192x192 (*.png)]]></Description>
      <SortOrder>16</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>76636f32-8fc4-4858-b406-f7dbb49637dd</Key>
      <Name>Tenant Favicon 256x256</Name>
      <Alias>tenantFavicon256x256</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Favicon (Browser Tab icon) size 256x256 (*.png)]]></Description>
      <SortOrder>17</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>fcdbb82c-e654-498e-8d53-d93662b1ee07</Key>
      <Name>Tenant Favicon 32x32</Name>
      <Alias>tenantFavicon32x32</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Favicon (Browser Tab icon) size 32x32 (*.png)]]></Description>
      <SortOrder>13</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cfffbb7b-0229-4300-9899-1c3930a55746</Key>
      <Name>Tenant Favicon 72x72</Name>
      <Alias>tenantFavicon72x72</Alias>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Type>Umbraco.UploadField</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Favicon (Browser Tab icon) size 72x72 (*.png)]]></Description>
      <SortOrder>14</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>ff674857-f6c5-4993-8c36-d146a63be911</Key>
      <Name>Tenant Preferences</Name>
      <Alias>tenantPreferencesProperty</Alias>
      <Definition>4791f62b-9a10-4262-8385-9b435683fa2e</Definition>
      <Type>tenantPreferences</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tenant Preferences for Customers]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>0490c732-d090-488a-8267-ba2f5c7b59df</Key>
      <Name>Tenant Status</Name>
      <Alias>tenantStatus</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Total Code Tenant Status]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>1d9a1e7a-5099-46d1-b150-8d4e9811f6f3</Key>
      <Name>Tenant Uid</Name>
      <Alias>tenantUid</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Tenant Unique Id]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Tenant Info</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2c2f06a1-e7fb-48af-aca0-8a38999df134</Key>
      <Name>Telegram URL</Name>
      <Alias>termsAndConditionsMessage</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>cfe21f61-9a1d-4e42-9f3b-675e84513df1</Key>
      <Name>Theme</Name>
      <Alias>theme</Alias>
      <Definition>4e57de21-b77d-41d0-b104-acb45983d77a</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>c77fbdc1-cf05-4317-8a5a-9fa5a7d6d600</Key>
      <Name>Top Menu</Name>
      <Alias>topMenu</Alias>
      <Definition>1835b68b-9844-448c-b1e7-86bbbf1b83b0</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>90ed47b5-70c1-432e-9824-6871b7f82530</Key>
      <Name>Twitter Link</Name>
      <Alias>twitterLink</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>7</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>37c57822-d518-4d83-8dd9-e8de1dfd762c</Key>
      <Name>Website name</Name>
      <Alias>websiteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>a37a8f59-1bbe-4cdb-8bfc-448ccf91581c</Key>
      <Name>Whatsapp URL</Name>
      <Alias>whatsAppNumber</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>10</SortOrder>
      <Tab>Footer</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Caption>Footer</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Account Menu</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Caption>Tenant Info</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sliders</Caption>
      <SortOrder>5</SortOrder>
    </Tab>
    <Tab>
      <Caption>Game Mode Dialog</Caption>
      <SortOrder>6</SortOrder>
    </Tab>
    <Tab>
      <Caption>(Advanced) Meta Tags</Caption>
      <SortOrder>7</SortOrder>
    </Tab>
    <Tab>
      <Caption>Scripts</Caption>
      <SortOrder>8</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sport &amp; In-Play</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
    <Tab>
      <Caption>Notification Settings</Caption>
      <SortOrder>9</SortOrder>
    </Tab>
  </Tabs>
</ContentType>