<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb74b8e1-c15d-446b-b1b4-204753d68ce2" Alias="totalCodeWithdrawPage" Level="3">
  <Info>
    <Name>Total Code Withdraw Page</Name>
    <Icon>icon-price-dollar color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeWithdrawPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="76d0198d-bbec-4eb9-83bf-9c2adbd8dcc0">totalCodeWithdrawPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="06fac55e-3251-42da-9c39-1f6cb04424f1">totalCodeWithdrawBankPage</ContentType>
    <ContentType Key="5bb6010b-0512-48dd-84cc-77deb88a1adc">totalCodeWithdrawHistoryPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>41f4cb0d-aa75-4af0-8039-ac0057394096</Key>
      <Name>Predefined Amounts</Name>
      <Alias>predefinedAmountsV2</Alias>
      <Definition>3e9c3e52-e086-475a-ba45-7a49bbd04eb9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>