<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="189d0230-a1f8-4497-a324-7dc00fe661c3" Alias="totalCodeGenericPage" Level="3">
  <Info>
    <Name>Total Code Generic Page</Name>
    <Icon>icon-document-dashed-line color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeGenericPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b4b7b27e-4f44-4617-93c1-2dc9f80176e8">totalCodeBettingHistoryPageTemplate</Template>
      <Template Key="7d68c2ef-ae55-45c5-8af2-1cc2bbd307ec">totalCodeCasinoPageTemplate</Template>
      <Template Key="cb7a1375-00fa-4ced-a003-d555274bb8cb">totalCodeGamePageTemplate</Template>
      <Template Key="6188d8f4-9793-4af5-8016-e41e545460d1">totalCodeGenericPageTemplate</Template>
      <Template Key="42ff192e-2a66-4ba2-980a-558df778e866">totalCodeSportsFeedPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e7759a4c-8950-4444-82cc-861c22781023</Key>
      <Name>Game Slider</Name>
      <Alias>gameSlider</Alias>
      <Definition>38469d3b-d8c4-41b5-ab3f-ed571a11c091</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Slider with game banners]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Sliders</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>8521c4c8-54bf-4fcc-b70f-864c771c11b0</Key>
      <Name>Game Type</Name>
      <Alias>gameType</Alias>
      <Definition>f0bc4bfb-b499-40d6-ba86-058885a5178c</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The game this page will display]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Page Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>086643cc-5a07-422e-8266-98abf57f48b9</Key>
      <Name>Page Content</Name>
      <Alias>pageContent</Alias>
      <Definition>69c300a2-3ba9-4c8c-a642-577f09f72207</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Text to be displayed on the Page]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>13908cb5-2243-40c3-aa17-7a8e99eea540</Key>
      <Name>Page Custom Svg Icon</Name>
      <Alias>pageCustomSvgIcon</Alias>
      <Definition>1fa3b925-2329-49db-b4a4-926fa93370a6</Definition>
      <Type>svgCustomView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Displays the page icon from the strip-menu svg file]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Page Details</Tab>
      <Variations>Nothing</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Page Details</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Caption>Sliders</Caption>
      <SortOrder>4</SortOrder>
    </Tab>
  </Tabs>
</ContentType>