<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="06fac55e-3251-42da-9c39-1f6cb04424f1" Alias="totalCodeWithdrawBankPage" Level="3">
  <Info>
    <Name>Total Code Withdraw Bank Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeWithdrawBankPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2441241b-17e2-40ef-9ca6-5717207cd518">totalCodeWithdrawBankPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>