<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f424a832-526f-4e2b-b544-7779778ffe2c" Alias="totalCodeDocumentPage" Level="3">
  <Info>
    <Name>Total Code Document Page</Name>
    <Icon>icon-folders color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeDocumentPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="70384dab-3df8-40ea-9f21-ab9f6c8d9374">totalCodeDocumentPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>