<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f5be873a-c67b-49fa-b09f-ba17efdc7267" Alias="totalCodeTermsPage" Level="3">
  <Info>
    <Name>Total Code Terms Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeTermsPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0c17eb4e-6a18-4828-889d-10110cbcb96e">totalCodeTermsPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c0a8f808-c5fb-4e0d-8865-584d1fdf651e</Key>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>