<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5a49ca77-5784-477f-9296-0d925c768c29" Alias="totalCodeAccountPage" Level="3">
  <Info>
    <Name>Total Code Account Page</Name>
    <Icon>icon-user color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeAccountPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3bc8bb34-6441-4ff0-a573-2ef142846257">totalCodeAccountPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="66ad1f1b-8705-4407-975a-47391eeb59d8">TotalCodeEditAccountPage</ContentType>
    <ContentType Key="f424a832-526f-4e2b-b544-7779778ffe2c">totalCodeDocumentPage</ContentType>
    <ContentType Key="6a732e81-91e7-4a7c-a3ae-7a769ad12381">totalCodeMarketingPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>