<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d6b1350f-97ed-4c4f-962e-57b20fbcdde8" Alias="totalCodeCategoriesPage" Level="3">
  <Info>
    <Name>Total Code Categories Page</Name>
    <Icon>icon-help-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeCategoriesPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="01412ada-853f-413a-ad3a-a86b4a75d6f7">totalCodeCategoriesPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="ebe7aed2-c0f6-40ba-a0db-14a41e937174">totalCodeCategoryPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>