<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="263d7140-2227-4b80-8474-05e0604a8954" Alias="totalCodeCompanyLogo" Level="3">
  <Info>
    <Name>Total Code Company Logo</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <Folder>Total+Code+Container/Nested+Contents</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4b755b10-32f8-4ae4-8665-a9721a935509</Key>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>162cad42-4c2f-4bd8-947c-20b4c7840742</Key>
      <Name>Link</Name>
      <Alias>link</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
    <GenericProperty>
      <Key>2fc2d5e7-6d18-41d4-8221-110f57fdf4ff</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab>Content</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>