<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c074a555-ec63-4c13-b769-e87e35f84a1d" Alias="totalCodeBasePage" Level="2">
  <Info>
    <Name>Total Code Base Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Folder>Total+Code+Container</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>