<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6a732e81-91e7-4a7c-a3ae-7a769ad12381" Alias="totalCodeMarketingPage" Level="3">
  <Info>
    <Name>Total Code Marketing Page</Name>
    <Icon>icon-slideshow color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeMarketingPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4dfb5f2a-dde0-4662-b303-39ca983293cb">totalCodeMarketingPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>