<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4a9c9b01-6c4a-44d1-aba1-8ecc218e2222" Alias="totalCodeTicketsPage" Level="3">
  <Info>
    <Name>Total Code Tickets Page</Name>
    <Icon>icon-phone color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeTicketsPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f44bb396-a3da-47d6-a37e-5e99fd4a9de0">totalCodeTicketsPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="63442367-5924-4438-8b27-08930b340058">totalCodeTicketPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>