<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="cd0e0e98-8755-4d99-8043-95a8243244fc" Alias="totalCodeDepositHistoryPage" Level="3">
  <Info>
    <Name>Total Code Deposit History Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeDepositHistoryPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="00d64609-c20d-4354-873a-6bd444153265">totalCodeDepositHistoryPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>