<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5bb6010b-0512-48dd-84cc-77deb88a1adc" Alias="totalCodeWithdrawHistoryPage" Level="3">
  <Info>
    <Name>Total Code Withdraw History Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeWithdrawHistoryPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="baeb1ab1-830b-415f-91af-1171202ccddb">totalCodeWithdrawHistoryPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>