<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1d69c717-995a-48f7-8948-d7e75b592c00" Alias="totalCodeDepositPage" Level="3">
  <Info>
    <Name>Total Code Deposit Page</Name>
    <Icon>icon-price-dollar color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeDepositPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="509e7268-8ad1-4af9-bc4b-e023e1c5eb2c">totalCodeDepositPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b45b8ceb-9774-46c0-8dea-3b53c1f87bff">totalCodeDepositBankPage</ContentType>
    <ContentType Key="cd0e0e98-8755-4d99-8043-95a8243244fc">totalCodeDepositHistoryPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>8e3dbe40-fdaf-451c-a449-9b0fe001aba1</Key>
      <Name>Predefined Amounts</Name>
      <Alias>predefinedAmountsV2</Alias>
      <Definition>3e9c3e52-e086-475a-ba45-7a49bbd04eb9</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab>Settings</Tab>
      <Variations>Culture</Variations>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Caption>Settings</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>