<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b45b8ceb-9774-46c0-8dea-3b53c1f87bff" Alias="totalCodeDepositBankPage" Level="3">
  <Info>
    <Name>Total Code Deposit Bank Page</Name>
    <Icon>icon-document color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeDepositBankPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3269617d-7a86-4c2c-bdee-c34333e75db2">totalCodeDepositBankPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>