<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebe7aed2-c0f6-40ba-a0db-14a41e937174" Alias="totalCodeCategoryPage" Level="3">
  <Info>
    <Name>Total Code Category Page</Name>
    <Icon>icon-folder-outline color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <Parent Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Parent>
    <Compositions>
      <Composition Key="c074a555-ec63-4c13-b769-e87e35f84a1d">totalCodeBasePage</Composition>
    </Compositions>
    <DefaultTemplate>totalCodeCategoryPageTemplate</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="389d6530-39fa-4042-84b5-5debf8bf17d1">totalCodeCategoryPageTemplate</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3af7c088-b846-4ac1-acc4-614a21246dc1">totalCodeArticlePage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>